%h2 Articles

%table
  - @articles.each do |article|
    %tr
      %td= article.created_at
      %td= article.title
      - if user_signed_in?
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= button_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', new_article_path
