!!!
%html
  %head
    %title Jared Beck
    = stylesheet_link_tag :application
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %h1 jared beck
    .links
      - @links.each do |l|
        %a{ :href => l[:url], :title => l[:text] }
          = image_tag "icon/square32/" + l[:text] + ".png", :alt => l[:text]

    = yield

    - if user_signed_in?
      %p= button_to "Logout", destroy_user_session_path, :method => :delete
      
    .flashes
      - if notice.present?
        %span.notice= notice
      - if alert.present?
        %span.alert= alert
